<a href="https://www.viharatech.com"><img src="https://miro.medium.com/v2/resize:fit:828/format:webp/1*on2Bpj6A5gfd-CzaFOAZRA.jpeg"></a>

## Lambda Function

Python Lambda function is known as the anonymous function that is defined without a name. Python allows us to not declare the function in the standard manner, i.e., by using the def keyword. Rather, the anonymous functions are declared by using the lambda keyword. However, Lambda functions can accept any number of arguments, but they can return only one value in the form of expression.

Syntax : lambda arguments: expression

lambda function is nothing but anonymous function  anonymous function means function which is having no name = Lambda function

In [1]:
# with function 
def fun(x , y):
    return x + y
a = 10
b = 20
print('sum = ' , fun(a,b))

sum =  30

In [18]:
# with Lambda function

a = 10
b = 20
c = lambda x, y : a + b
print('sum = ' , c(a,b))

sum =  30

In [19]:
# with function
def kamal(a):
    return a + 30
print('sum = ' , kamal(10))

sum =  40

In [2]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Use lambda function to check if a number is even or odd
is_even = lambda x: x % 2 == 0
is_odd = lambda x: x % 2 != 0

# Use a loop to iterate over the list and get even and odd numbers
even_numbers = []
odd_numbers = []
for num in numbers:
    if is_even(num):
        even_numbers.append(num)
    else:
        odd_numbers.append(num)

# Print the results
print("Even numbers:", even_numbers)
print("Odd numbers:", odd_numbers)

Even numbers: [2, 4, 6, 8, 10]
Odd numbers: [1, 3, 5, 7, 9]

In [1]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Use lambda function to check if a number is even or odd
is_even = lambda x: x % 2 == 0
is_odd = lambda x: x % 2 != 0

for i in numbers:
    print('even :',is_even(i))

even : False
even : True
even : False
even : True
even : False
even : True
even : False
even : True
even : False
even : True

In [20]:
# with lambda 
a = lambda x : x + 30

print('sum = ' , a(10))

sum =  40

In [26]:
# without lambda table creating

n = 2
for i in range(1,11):
    print(n , '*' , i  ,'=', n * i)

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [3]:
# with lambda function 
n = int(input("Enter a Number for table = "))
c = lambda x , y : n * i 
for i in range(1,11):
     print(n ,'*',i , '=', c(n , i))
print(c)

Enter a Number for table = 7
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70
<function <lambda> at 0x0000017ABB883F78>

## map function

The map() function executes a specified function for each item in an iterable. The item is sent to the function as a parameter.

Syntax :
--------------

map(function , iterables)

function = Required. The function to execute for each item
iterable = Required. A sequence, collection or an iterator object. You can send as many iterables as you like, just make sure the function has one parameter for each iterable.

Applies the given function to all the iterables and returns a new list

In [30]:
def fun(b):
    if b % 2 == 0:
        return 'The Number {} is even'.format(i)
    else:
        return 'The Number {} is odd'.format(i)

In [31]:
a = [1,2,3,4,5,6,7,8,9,10]
c = []
for i in a:
    a = fun(i)
    c.append(a)
c

['The Number 1 is odd',
 'The Number 2 is even',
 'The Number 3 is odd',
 'The Number 4 is even',
 'The Number 5 is odd',
 'The Number 6 is even',
 'The Number 7 is odd',
 'The Number 8 is even',
 'The Number 9 is odd',
 'The Number 10 is even']

In [35]:
def kamal(b):
    if b % 2 == 0:
        return 'The Number {} is even'.format(i)
    else:
        return 'The Number {} is odd'.format(i)

In [36]:
# with map function 
a = [1,2,3,4,5,6,7,8,9,10]
n = list(map(kamal ,a))
n

['The Number 10 is odd',
 'The Number 10 is even',
 'The Number 10 is odd',
 'The Number 10 is even',
 'The Number 10 is odd',
 'The Number 10 is even',
 'The Number 10 is odd',
 'The Number 10 is even',
 'The Number 10 is odd',
 'The Number 10 is even']

In [37]:
def square(a):
    return a * a
    
a = [1,2,3,4]
b = map(square , a)
print(list(b))

[1, 4, 9, 16]

In [38]:
def square(a):
    return a * a
    

b = map(square , [1,2,3,4])
print(list(b))

[1, 4, 9, 16]

In [47]:
# Map and lambda 
a = [1,2,3,4]
b = map(lambda a : a + 10 , a)
print(list(b))

[11, 12, 13, 14]

In [48]:
a = [1,2,3,4]
b = [10,11,13,14]
c = map(lambda x , y : x + y  , a , b)
print(list(c))

[11, 13, 16, 18]

In [50]:
a = [1,2,3,4]
b = map(lambda x : x * 20 , a)
print(list(b))

[20, 40, 60, 80]

## Filter Function

creates an output list , tuple  which contains values for which the function returns true

In [3]:
# function
def kamal(a):
    for i in a:
        if i>=3:
            print(i)
a = [1,2,3,4,5]
kamal(a)

3
4
5

In [1]:
## map with function

def kamal(a):
    if a >= 3:
        return a
    

a = [1,2,3,4,5]
b = map(kamal , a)
print(list(b))

[None, None, 3, 4, 5]

In [2]:
a = map(lambda x: x>=3 , [1,2,3,4,5])
print(list(a))

[False, False, True, True, True]

In [3]:
## map with function

def kamal(a):
    if a >= 3:
        return a
    

a = [1,2,3,4,5]
b = filter(kamal , a)
print(list(b))

[3, 4, 5]

In [68]:
a = filter(lambda x: x>=3 , [1,2,3,4,5])
print(list(a))

[3, 4, 5]

In [70]:
a = filter(lambda x : x%2 == 0 , [1,2,3,4,5,6,7,8])
print(list(a))

[2, 4, 6, 8]

## Reduce Function

Applies the given function to all the iterables and returns a single value 

## a = [1,2,3,4]
reduce(a+b)


# internal operating


1 + 2 = 3 
3 + 3 = 6
6 + 4 = 10




a = [9,4,2,11]

# sum(a)

reduce(a)

9 + 4 = 13
13 + 2 = 15
15 + 11 = 26

reduce(lambda x , y : x * y , [1,2,30,4,50])

1 * 2 = 2
2 * 30 = 60
60 * 4 = 240
240 * 5 = 1210


a = [1,2,3,4,5]
a if a > b else b


a = 1 , b = 2

if a>b 
b = 2

a = 2 b = 3
a = b

In [76]:
from functools import reduce # import giving access

In [78]:
a= reduce(lambda x,y:x + y , [1,2,3,4])
print(a)

10

In [80]:
a = reduce(lambda x , y : x * y , [1,2,3,4,5])
print(a)

120

In [89]:
check = [ 1 , 3, 5, 6, 2]
 
## sum and maximum value 

#print(reduce(lambda a,b : a+b,check))
 

print(reduce(lambda a,b : a if a > b else b,check))

17
6

## Filter with map function

In [2]:
a = [1,2,3]
b = map(lambda x : x + 3 , filter(lambda x : x>2 , a)) # from filter output is 3
print(list(b))

[6]

In [92]:
a = map(lambda x : x + 3 , filter(lambda x : x>=10 , [8 , 9 ,10 ,11,12]))
print(list(a))

[13, 14, 15]

## Map with filter function

In [102]:
a = filter(lambda x : x % 2 == 0 , map(lambda x : x+2 , [8,9,10 ,11,12]))
print(list(a))

[10, 12, 14]

## Map and filter function with reduce

In [100]:
a = reduce(lambda x,y : x + y ,map(lambda x : x + 2 , filter(lambda x : x % 2 == 0 , [1,2,3,4])))
print(a)

10

In [ ]:
map()

In [3]:
a = [1,2,3,4]

c = 0
for i in a:
    c+=1
print(c)

4

In [1]:
others = 0
for i in range(2):
    for j in range(2):
        if i != j:
            others += 1
        else:
            others += 1
print(others)

4