<a href="https://www.viharatech.com"><img src="https://miro.medium.com/v2/resize:fit:828/format:webp/1*on2Bpj6A5gfd-CzaFOAZRA.jpeg"></a>

In [24]:
"""python operators
Arithmetic operators
Assignment operators
Comparison operators
Logical operators
Identity operators
Membership operators
bitwise operators """

x = 8
y = 9

print(x + y)

17

In [1]:
x = 89
y = 90

print(x - y)

-1

In [2]:
x = 4
y = 8

print(x * y)

32

In [3]:
x = 56
y = 89

print(x / y)

0.6292134831460674

In [4]:
x = 7
y = 9

print(x % y)

7

In [5]:
x = 2
y = 5

print(x ** y) #same as 2*2*2*2*2

32

In [6]:
x = 11
y = 3

print(x // y)

#the floor division // rounds the result down to the nearest whole number

3

In [ ]:
#Asssignment operators

In [7]:
x = 4

print(x)

4

In [8]:
x = 7

x += 4 # x=x+4

print(x)

11

In [9]:
x = 6

x -= 9

print(x)

-3

In [10]:
x = 5

x *= 3

print(x)

15

In [11]:
x = 60

x /= 78    #x=x/78

print(x)

0.7692307692307693

In [12]:
x = 5

x%=3

print(x)

2

In [13]:
x = 7

x//=6  #	x = x // 6

print(x)

1

In [14]:
x = 4

x **= 9

print(x)

262144

In [22]:
x = 24

x//=9

print(x)

2

In [21]:
#comparison operator
x = 4
y = 8

print(x == y)

# returns False because 4 is not equal to 8

False

In [25]:
x = 6
y = 9

print(x != y)

# returns True because 6is not equal to 9

True

In [26]:
x = 8
y = 5

print(x > y)

True

In [27]:
x = 4
y = 9

print(x < y)

# returns False because 5 is not less than 3

True

In [28]:
x = 9
y = 3

print(x >= y)

True

In [29]:
x = 6
y = 9

print(x <= y)

True

In [31]:
#logical operator
x = 9
y=12

print(x > 3 and y < 10)

False

In [30]:
x = 7

print(x > 3 or x < 4)

# returns True because one of the conditions are true (7 is greater than 3, but 7 is not less than 4)

True

In [3]:
x = 12

print(not(x > 3 and x < 10))

# returns False because not is used to reverse the result

True

In [34]:
#identity operator
x = ["python", "datascience","machine learning"]
y = ["python", "datascience"]
z = x
 
print(x is z)     #	Returns True if both variables are the same object
print(x is y)    #returns False because x is not the same object as y, even if they have the same content
print(x == y)

True
False
False

In [50]:
a = ["Artificial Intelligence", "Machine Learning"]
b = ["Artificial Intelligence", "Machine Learning"]

a=b
print(a is not c) # returns False because c is the same object as a
print(a is not b) # returns True because a is not the same object as b, even if they have the same content
print(a != b) #difference betweeen "is not" and "!=": this comparison returns False because a is equal to b

True
False
False

In [45]:
#membership operator
x = ["python", "cloud"]

print("cloud" in x)  #Returns True if a sequence with the specified value is present in the object

True

In [14]:
x = ["engineeering", "science"]

print("engineeering" not in x) #Returns True if a sequence with the specified value is not present in the object

False

In [25]:
"2" is "2"

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
<ipython-input-25-82419d974fa0>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  "2" is "2"
<ipython-input-25-82419d974fa0>:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
  "python" is "python"

True

In [26]:
"python" is "python"

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<ipython-input-26-de61e1b65ab4>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  "python" is "python"

True

In [15]:
#ternary operator
a,b=8,9
if a>b:
        print("a")
else:
        print("b")

b

In [16]:
a,b=7,9
print("a" if a>b else "b")

b

In [28]:
 a, b = 10, 20
  
# Copy value of a in min if a < b else copy b 
min = a if a < b else b 
  
print(min)

10

In [59]:
#python bitwise AND(&) Operator
bin(5)

'0b101'

In [60]:
 bin(7)

'0b111'

In [46]:
bin(3)

'0b11'

In [48]:
bin(9)

'0b1001'

In [33]:
True/2

0.5

In [34]:
False*2

0

In [40]:
bin(4) #0b100'
bin(8) #'0b1000' 
4 & 8

0

In [ ]:
"""0 & 0	0
   0 & 1	0
   1 & 0	0
   1 & 1	1"""

In [41]:
False&True

False

In [42]:
1&True

1

In [43]:
1.0&1.0

TypeError: unsupported operand type(s) for &: 'float' and 'float'

In [44]:
0b110 & 0b101

4

In [ ]:
#Python Bitwise OR (|) Operators
"""0|0	0
   0|1	1
   1|0	1
   1|1	1"""

In [45]:
6|1

7

In [46]:
0b110|0b001

7

In [47]:
bin(7)

'0b111'

In [54]:
True|False

True

In [ ]:
#Python Bitwise XOR (^) Operator
"""
0^0	0
0^1	1
1^0	1
1^1	0
"""

In [49]:
#bin(6) #0110
6^6

0

In [57]:
6^0

6

In [1]:
6^3

5